{% extends "base_template.twig" %}

{% block content %}
    <div class="container" style="margin-top: 20px;">
        <div style="display: block;position: relative;">
            <h1>Сайт: {{url.name}}</h1>
            <div class="table-responsive" style="max-width: none;" data-test="url">
                <table class="table table-bordered">
                    <tbody>
                        <tr>
                            <td class="fw-bold" style="width: 180px;">ID</td>
                            <td>{{url.id}}</td>
                        </tr>
                        <tr>
                            <td class="fw-bold">Имя</td>
                            <td>{{url.name}}</td>
                        </tr>
                        <tr>
                            <td class="fw-bold">Дата создания</td>
                            <td>{{url.createdAt}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="container">
        <div>
            <h3>Проверки</h3>
            <form><button class="btn btn-primary" type="submit" style="margin-bottom: 12px;">Запустить проверку</button></form>
            <div class="table-responsive" style="max-width: none;">
                <table class="table table-bordered" data-test="checks">
                    <tbody>
                        <tr>
                            <td class="fw-bold" style="width: 180px;max-width: 30px;">ID</td>
                            <td class="fw-bold" style="width: 180px;">Код ответа</td>
                            <td class="fw-bold" style="width: 180px;">h1</td>
                            <td class="fw-bold" style="width: 180px;">title</td>
                            <td class="fw-bold" style="width: 180px;">description</td>
                            <td class="fw-bold" style="width: 180px;">Дата создания</td>
                        </tr>
                        {% for check in checks %}
                            <tr>
                                <td class="fw-regular" style="width: 180px;max-width: 30px;">{{check.id}}</td>
                                <td class="fw-regular" style="width: 180px;">{{check.statusCode}}</td>
                                <td class="fw-regular" style="width: 180px;">{{check.h1}}</td>
                                <td class="fw-regular" style="width: 180px;">{{check.title}}</td>
                                <td class="fw-regular" style="width: 180px;">{{check.description}}</td>
                                <td class="fw-regular" style="width: 180px;">{{check.createdAt}}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <hr>
{% endblock %}