{% extends "base_template.twig" %}

{% block content %}
    <div class="container">
        <div>
            <h3>Сайты</h3>			
			<div class="table-responsive" style="max-width: none;">
                <table class="table table-bordered" data-test="urls">
                    <thead>
							<tr>
								<th class="fw-bold" style="width: 180px;max-width: 30px;">ID</th>
								<th class="fw-bold" style="width: 180px;">Имя</th>
								<th class="fw-bold" style="width: 180px;">Последняя проверка</th>
								<th class="fw-bold" style="width: 180px;">Код ответа</th>
							</tr>
					</thead>
					<tbody>
                        {% for url in urls %}
                            <tr>
                                <td>{{url.id}}</td>
                                <td><a href = "/urls/{{url.id}}">{{url.name}}</a></td>
                                <td>{{url.lastCheckDate}}</td>
                                <td>{{url.lastStatusCode}}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}